$white-color: #ffffff;
$text-color: #404040;
$black-color: #000000;
$blue-color: #2468ff;
$grey-color: #999999;
$address-color:  #646565;
$placeholder-color:#989898;
$bg-color: #161f49;
$section-bg-color: #f7f7f7;
$bg-hero-color: rgba(0, 0, 0, 0.5);
$element-color: #DEDEDE;