<footer class="footer">
    <div class="container footer__container">
        <a class="logo logo__link--footer" href=""> 
            <svg class=" logo__footer" width="86" height="39">
                <use href="/src/images/sprite.svg#icon-logoe"></use>
            </svg>
        </a>
        <!-- <a href=""> <img class="logo logo__footer" src="/src/images/frame.svg" alt="">  </a> -->
        
        <div class="footer__content">
            <ul class="footer__list">
                 <li class="footer__item"> <a class="footer__link" href="">Products</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">How it works</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Technology</a></li> 
                 <li class="footer__item"> <a class="footer__link" href="">eero Secure</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Support</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Find your system</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Cookie preferences</a></li>
          </ul>
          <ul class="footer__list">
                 <li class="footer__item"> <a class="footer__link" href="">Products</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">How it works</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Technology</a></li> 
                 <li class="footer__item"> <a class="footer__link" href="">eero Secure</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Support</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Find your system</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Cookie preferences</a></li>
                 <li class="footer__item"> <a class="footer__link" href="">Cookie preferences</a></li>
          </ul>
         <div class="footer__box">
              <h4 class="footer__box--title">Connect with us</h4>
                <p class="footer__box--discr">For the latest eero news and promotions.</p>
             <!-- <form > -->
                 <input class="input" id="user-email" type="email" name="user-email" placeholder="Email">
             <!-- </form> -->
             <button class="button footer__button" type="submit">Submit</button>
         </div>
     </div>
          <div class="social">
               <p class="copy">&#169 2021 EERO LLC, SAN FRANCISCO, CA</p>
               <ul class="social__list">
                    <li class="social__item"> <a href="">
                        <svg class="social__icon" width="30" height="30">
                          <use href="/src/images/sprite.svg#icon-faceboof"></use>
                        </svg></a>
                   </li>
                   <li class="social__item"> <a href="">
                       <svg class="social__icon" width="30" height="30">
                           <use href="/src/images/sprite.svg#icon-instagram"></use>
                       </svg> </a>
                   </li>
                   <li class="social__item"> <a href="">
                       <svg class="social__icon" width="30" height="30">
                           <use href="/src/images/sprite.svg#icon-linkedin"></use>
                       </svg> </a>
                   </li>
                   <li class="social__item"> <a href="">
                       <svg class="social__icon" width="30" height="30">
                           <use href="/src/images/sprite.svg#icon-pinterest"></use>
                       </svg> </a>
                   </li>
                     <li class="social__item"> <a href="">
                      <svg class="social__icon" width="30" height="30">
                           <use href="/src/images/sprite.svg#icon-twitter"></use>
                       </svg> </a>
                   </li>
             </ul>
          </div>
 </div>
 
</footer>