<header>
    <p class="discr">Free 2-day shipping | 30-day money back guarantee</p>
    <div class="header-nav">
     <div class="container">
    
          <div class="header">
            <a class="logo__link" href=""> 
            <svg class=" logo " width="107" height="49">
                <use href="/src/images/sprite.svg#icon-logoe"></use>
            </svg>
        </a>
            <!-- <a href=""> <img class="logo" src="/src/images/frame.svg" alt="">  </a> -->
           <nav class="nav">
             
             <ul class="nav__list">
                 <li class="nav__item"> <a class="nav__link" href="">Products</a></li>
                 <li class="nav__item"> <a class="nav__link" href="">How it works</a></li>
                 <li class="nav__item"> <a class="nav__link" href="">Technology</a></li> 
                 <li class="nav__item"> <a class="nav__link" href="">eero Secure</a></li>
                 <li class="nav__item"> <a class="nav__link" href="">Support</a></li>
                 <li class="nav__item"> <a class="nav__link" href="">Find your system</a></li>
               </ul>
            </nav>
           <button class="button" type="button">Shop</button>
         </div>
      </div>
   </div>
</header>