<section class="reviews">
    <div class="container reviews__container">
        <h2 class="reviews__title">Turns out, people love great wifi.</h2>
        <div class="reviews__content">
             <img class="reviews__photo" src="/src/images/happyfamaly.jpg" alt="">
             <div class="reviews__box">
                  <ul class="reviews__list">
                      <li class="reviews__item "> <a class="reviews__link reviews__link--current" href=""> Setup</a> </li>
                      <li class="reviews__item"> <a class="reviews__link" href=""> Coverage</a> </li>
                      <li class="reviews__item"> <a class="reviews__link" href=""> Reliability</a> </li>
                      <li class="reviews__item"> <a class="reviews__link" href=""> Security</a> </li>
                   </ul>
                    <p class="reviews__discr">  "Setting up our eeros was a breeze thanks to the plug
                    and play installation.
                    The whole experience was life changing 
                    compared to other routers we’ve used."
                   </p>
                   <p class="reviews__subtitle">The Rankins</p>
                  <p class="reviews__address">
                       Seattle, WA | 4 Bedroom house <br>
                       3,300 sq. ft. <br>
                       16 connected devices <br>
                       Use eero 3-pack
                   </p>
                   <button class="button reviews__button" type="button">Shop all eero systems</button>
              </div>
         </div>
     </div>
</section>