<section class="benefits">
    <div class="container">
<div class="benefits__content"> 
        <h2 class="benefits__title">Never worry about wifi again.</h2>
        <ul class="benefits__list">
            <li class="benefits__item">
                
                   <svg class="benefits__icon" width="79" height="79">
                       <use href="/src/images/sprite.svg#icon-clik"></use>
                   </svg>
                   <h3 class="benefits__subtitle">Fast and easy setup</h3>
                   <p class="benefits__discr">Unbox your eero devices, download the app, and start 
                       surfing the web in minutes.
                        The eero app makes it easy to set up and manage 
                        wifi for everyone at home.
                   </p>
                   <a class="benefits__link" href="">CHECK OUT THE APP</a>
                
            </li>

             <li class="benefits__item">
                
                   <svg class="benefits__icon" width="79" height="79">
                       <use href="/src/images/sprite.svg#icon-ok"></use>
                   </svg>
                   <h3 class="benefits__subtitle">Advanced network protection</h3>
                   <p class="benefits__discr">Every eero comes with world-class encryption and security protocols.
                     Add on eero Secure to get even more protection with parental controls,
                      ad blocking, and more.
                   </p>
                   <a class="benefits__link" href="">GET EERO SECURE</a>
                
            </li>

             <li class="benefits__item">
                
                   <svg class="benefits__icon" width="79" height="79">
                       <use href="/src/images/sprite.svg#icon-loading"></use>
                   </svg>
                   <h3 class="benefits__subtitle">Always getting better</h3>
                   <p class="benefits__discr">eero automatically updates to bring you security patches,
                     improved performance, and new features.
                   </p>
                   <a class="benefits__link" href="">READ ABOUT EERO UPDATES</a>
                
            </li>
        </ul>
</div>
    </div>
</section>