<section class="covers">
    <div class="container covers__container">
        <h2 class="covers__title">TrueMesh covers your whole home.</h2>
        <p class="covers__discr">TrueMesh learns the layout of your home to intelligently route traffic and optimize your wifi. eero 6 and eero Pro 6 are the first Wi-Fi 6 routers with eero’s TrueMesh technology.</p>
      <button class="button button__covers" type="button">See how it works</button>
      <!-- <svg width="666" height="304" >
        <use href="../images/sprite.svg"></use>
      </svg> -->
      <img src="./images/rectangl.svg" alt="">
    </div>
</section>